
#HeaderSY{
    background-color:#70cbdb;
    display: flexbox;
    flex-direction: row;
    text-align: left;
    color:white;
}

#WebBG{
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:calc(8px + 3vmin);
        color: white; 
}
