
#BodySY{

    color: #4FBDBA;
    text-align: center;
    text-transform: uppercase;
    font-size: small;  
}
#App_BG{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}