h2 {
    color: #4FBDBA;
    font-size:x-large;
}
#FooterSY{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #072227;
    color: #4FBDBA;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    
  }
  