body {background-color: #ffbfcd;}

h1{
    color:red;
    font-size :4vw;
    text-align: center;
    text-decoration: underline;

}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    font-size :2vw;
    text-align: center;
    font-weight:bold;
}

p{
    font-style: italic;
}

#l1{
    color:#FF7A7A;
}
.l2{
    color:#C5554F;
    text-decoration: underline;
}
