body {
    background-color: #1A374D;
    color :white;
}

h1{
    color:white;
    font-size :3vw;
    text-align: center;
    text-decoration:dotted underline;

}
h2{
    color:#589ed4;
    font-size :2vw;
    text-align: center;
    font-weight:bold;
}

p{
    font-family: EucrosiaUPC;
    font-size: larger;
    text-align: center;
    color:#80b8ce;
    font-weight:bold;
}

#l1{
    color:#bed2e4;
}
.l2{
    color:#B1D0E0;
    text-decoration: underline;
}