
body
{
    background-color: rgb(32, 30, 30);
    color : white;
    font-size: 18px;
}
table.grid {
	font-family: "Bookman";
    font-size: 18px;
    width: 100%;
    height: 100%;

	color:#fcfcfc;
	border-width: 1px;
	border-color: #ffffff;
	border-collapse: collapse;
}
table.grid th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
    text-align : center ;
	border-color: #ffffff;
	background-color: #17171b;
}
table.grid td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
	background-color: #1d304e;
}
